#content-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

  > a {
    position: relative;
    top: 10px;
    height: 30vh;
    width: 80vw;
    margin: 2.5vh 0;
  }

  .content-nav-btn {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background: #eef1f5;
    border: 2px solid black;
    outline: none;
    border-radius: 90px;
  }

  .content-nav-btn:hover {
    background: rgb(202, 201, 201);
    cursor: pointer;
  }

  .content-nav-btn:focus {
    outline: none;
  }
}

@media (min-width: 600px) {
  #content-nav {
    > a {
      height: 20vh;
      width: 50vw;

      &:first-child {
        margin-top: 10vh;
      }
    }
  }
}

@media (min-width: 768px) {
  #content-nav {
    > a {
      width: 35vw;
    }
  }
}

@media (min-width: 992px) {
  #content-nav {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    > a {
      width: 25vw;
      margin: 20vh 2.5vw;

      &:first-child {
        margin-top: 20vh;
      }
    }
  }
}
