%intro-display-setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

#custom-template {
  #exercise-list-container {
    height: 70%;
    width: 100%;
    overflow-y: auto;

    h2 {
      text-align: center;
      margin-bottom: 7.5px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        margin: 0 0 0 10px;
        width: 10%;
      }

      button:focus {
        box-shadow: none;
      }

      #template-title-edit-form {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;

        .form-group {
          margin: 0;
          width: 60%;
        }

        label {
          display: none;
        }

        .btn {
          padding: 2.5px;
          font-size: 1.25rem;
          height: 50%;
          width: 17.5%;
        }
      }

      .modal-footer {
        .btn {
          width: 15%;
        }
      }
    }

    #exercise-list {
      padding: 0;

      li {
        height: 10vh;
      }
    }

    #intro {
      @extend %intro-display-setting;
      height: 100%;
      width: 100%;
    }

    #intro p {
      @extend %intro-display-setting;
      text-align: center;
      width: 50%;
      height: 50%;
      font-size: 32px;
      margin: 0;
      background: white;
      border-radius: 25px;
    }

    #exercise {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding: 0 20px;
      width: 100%;

      p {
        margin: 0;
        width: 55%;
      }

      #exercise-btn {
        width: 35%;
        display: flex;
        justify-content: flex-end;

        button {
          height: 50%;
          margin: 0.5px;
          width: 20%;
        }

        .btn-warning {
          color: white;
        }
      }
    }

    #exercise:nth-child(odd) {
      background: white;
    }

    #exercise:nth-child(even) {
      background: rgb(177, 224, 252);
    }
  }

  #submit-template-form-btn {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2.5vh;

    > button {
      height: 40%;
      width: 40%;
      justify-self: flex-end;
      margin-right: 5%;
    }

    > button:focus {
      box-shadow: none;
    }
  }
}

@media (min-width: 992px) {
  #custom-template {
    #exercise-list-container {
      #exercise-list {
        li {
          height: 7.5vh;
        }
      }
    }
  }
}
