%instructions-display-setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions {
  @extend %instructions-display-setting;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.75;

  > * {
    width: 80%;
    margin: 0;
  }

  p,
  ol li {
    font-size: 1.5rem;
    font-weight: 400;
  }

  ol {
    padding: 0;

    li {
      padding: 5px 0;
    }
  }

  h3 {
    margin: 0;
    font-size: 2rem;
    text-decoration: underline;
  }

  > :not(h3) {
    padding: 1.5rem 0;
  }
}
