%instructions-display-setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions {
  @extend %instructions-display-setting;
  height: 100%;
  width: 100%;
}

#instructions p {
  @extend %instructions-display-setting;
  text-align: center;
  width: 80%;
  height: 80%;
  font-size: 32px;
  margin: 0;
  background: white;
  border-radius: 25px;
}
