#landing-headline {
  display: none;
}

#sign-in {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > button {
    height: 25%;
    width: 70%;
    border-color: #001c3a;

    &:active {
      outline: none;
    }
  }

  .modal {
    .modal-body {
      background: rgb(192, 192, 192);
      color: black;
      border-top: 0.5px solid black;
      border-bottom: 0.5px solid black;
    }
  }
}

#landing-background {
  position: absolute;
  z-index: -1;
  height: 90vh;
  width: 100vw;
  background: url("../images/landing.jpg");
  background-size: cover;
  opacity: 0.9;
}

#description-section {
  height: 150vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;

  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    svg {
      font-size: 40px;
      margin: 5vh 0;
    }

    p {
      font-size: 1.25rem;
      text-align: center;
    }
  }
}

#footer {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;

  h2 {
    font-size: 1rem;
    text-align: center;
    color: white;
  }
}

@media (min-width: 600px) {
  #landing-headline {
    height: 30vh;
    width: 90vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-bottom: 1.5px solid black;

    .jumbotron {
      margin: 0;
    }
  }

  #sign-in {
    height: 60vh;
    width: 90vw;
    flex-direction: row;
    border: 3px solid black;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-radius: 5px;

    > button {
      height: 20%;
      width: 25%;
      margin: 0 2.5vw;
    }
  }

  #landing-background {
    top: 40vh;
    left: 5vw;
    height: 60vh;
    width: 90vw;
    border-radius: 5px;
  }

  #description-section {
    width: 90vw;
    border: 3px solid black;
    border-top: 1.5px solid black;
  }

  #footer {
    height: 10vh;
    width: 90vw;

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #description-section {
    height: 50vh;
    flex-direction: row;

    div {
      svg {
        margin: 7.5vh 0 2.5vh 0;
      }
    }
  }
}
