.jumbotron {
  height: 30vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in {
  height: 60vh;
  display: flex;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
}

#landing-background {
  position: absolute;
  top: 40vh;
  left: 5vw;
  z-index: -1;
  height: 60vh;
  width: 90vw;
  background: url("../images/landing.jpg");
  background-size: cover;
  opacity: 0.9;
}

#sign-in .modal-container > button {
  margin: 25px;
  height: 10vh;
  width: 20vw;
  font-size: 24px;
}
