.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

nav {
  background: #222;

  a {
    color: white;

    h2 {
      margin: 0;
    }

    &:hover {
      text-decoration: none;
      color: rgb(177, 174, 174);
    }
  }

  button {
    height: 6.5vh;
    width: 10%;
    margin: 0;
    padding: 0;
    color: rgb(65, 64, 64);
    font-weight: bold;
    border: 2px solid rgb(124, 122, 122);
    border-radius: 25px;
    background: white;
    transition: 0.5s all 0.15s ease-out;
    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      color: white;
      background: rgb(65, 64, 64);
      border-color: white;
    }
  }
}
