.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav {
  background: #222;

  a {
    padding: 10px;
    color: white;

    h2 {
      margin: 0;
    }

    &:hover {
      text-decoration: none;
      color: rgb(177, 174, 174);
    }
  }

  #nav-info {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 2rem;
      color: white;
    }

    #clock {
      p {
        font-size: 2rem;
        margin: 0;
      }
    }

    button {
      height: 6.5vh;
      width: 20%;
      margin: 0;
      padding: 0;
      color: rgb(65, 64, 64);
      font-weight: bold;
      border: 2px solid rgb(124, 122, 122);
      border-radius: 25px;
      background: white;
      transition: 0.2s all 0.1s ease-out;
      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
        color: white;
        background: rgb(65, 64, 64);
        border-color: white;
      }
    }
  }
}
