@media (min-width: 1200px) {
  #template-nav > a {
    height: 15vh;
    width: 20vw;
    margin: 0 2.5vw;
  }

  .template-nav-btn {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background: #eef1f5;
    border: 2px solid black;
    outline: none;
    border-radius: 45px;
  }

  .template-nav-btn:hover {
    background: rgb(202, 201, 201);
    cursor: pointer;
  }

  .template-nav-btn:focus {
    outline: none;
  }
}
