#template {
  display: flex;
  flex-direction: column;

  #template-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 90vw;
    background: white;
  }

  #transfer-arrow {
    display: none;
  }

  #custom-template {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    overflow: hidden;
    min-width: 90vw;
    min-height: 60vh;
    background: white;
  }
}

@media (min-width: 992px) {
  #template {
    height: 80vh;
    width: 90vw;
    justify-content: center;
    flex-direction: row;

    #template-form {
      justify-content: flex-start;
      min-height: 80%;
      min-width: 30%;
      margin: 5vh 0;
      border: 7.5px solid black;
      border-radius: 25px;
    }

    #transfer-arrow {
      display: block;
      height: 100%;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 96px;
        margin: 0;
        transform: none;
      }
    }

    #custom-template {
      min-width: 55%;
      max-height: 85%;
      margin: 5vh 0 0 0;
      border: 4px solid black;
      border-radius: 20px;
    }
  }
}

@media (min-width: 1200px) {
  #template {
    #template-form {
      min-width: 25%;
    }

    #transfer-arrow {
      svg {
        font-size: 128px;
      }
    }
  }
}
