.badge {
  display: block;
  margin-top: 20px;
}

form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  width: 80%;

  .errorMessage {
    width: 80%;
  }
}

.form-control:focus {
  border: 1.5px solid #555;
  box-shadow: none;
}

@media (min-width: 992px) {
  #template-form {
    h2 {
      margin: 20px;
    }
  }
}
