@media (min-width: 1200px) {
  .badge {
    display: block;
    margin-top: 20px;
  }

  .form-control {
    width: 80%;
  }

  .form-control:focus {
    border: 1.5px solid #555;
    box-shadow: none;
  }
}
