#workouts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80%;
  width: 100%;
  margin-top: 5%;
  overflow: auto;

  h1 {
    padding: 20px;
    font-size: 1.75rem;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
  }

  > button {
    min-height: 10vh;
    width: 50%;
    margin: 1px 0;
    font-size: 1.5rem;
  }

  .modal {
    .modal-header {
      h2 {
        width: 100%;
        padding: 2.5px;

        .btn-danger {
          margin: 0 10px;
        }
      }

      .close {
        margin: 0;
      }
    }

    .modal-body {
      font-size: 1.15rem;
      line-height: 4rem;
      padding: 0;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          display: flex;
          padding: 10px;
          // justify-content: center;
        }

        li:nth-child(odd) {
          background: white;
        }

        li:nth-child(even) {
          background: rgb(177, 224, 252);
        }
      }
    }

    .modal-footer {
      border: none;

      .btn {
        width: 25%;
        font-size: 1.15rem;
      }
    }
  }
}
