#workouts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80%;
  width: 90%;
  margin-top: 5%;
  overflow: auto;

  > button {
    min-height: 10vh;
    width: 100%;
    margin: 1px 0;
  }
}
