.badge {
  display: block;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 75%;

  .form-group {
    width: 80%;
    margin: 0 0 10% 0;
  }

  .errorMessage {
    width: 100%;
    height: 5%;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }

  .btn {
    width: 80%;
    min-height: 12.5%;
    margin-bottom: 5%;
  }

  .form-control:focus {
    border: 1.5px solid #555;
    box-shadow: none;
  }
}

@media (min-width: 992px) {
  #template-form {
    // h2 {
    //   margin: 20px;
    // }
  }
}
