#app {
  max-height: 100vh;
  max-width: 100vw;
}

.navbar {
  min-height: 10vh;
  width: 100vw;
}

#content {
  min-height: 90vh;
}

@media (min-width: 600px) {
  #app {
    margin: 0 5vw;
  }

  .navbar {
    width: 90vw;
  }
}

@import "./partials/general";

@import "./partials/navbar";

@import "./partials/section";

@import "./partials/landing";

@import "./partials/sub-nav";

@import "./partials/instructions";

@import "./partials/workout-template";

@import "./partials/content-nav";

@import "./partials/exercise-form";

@import "./partials/preview-workout";

@import "./partials/view-workouts";

@import "./partials/logger";
