#landing .jumbotron {
  margin: 0;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing .entry-point {
  display: flex;
  border: 3px solid black;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

#landing .modal-container > button {
  margin: 25px;
  height: 10vh;
  width: 20vw;
  font-size: 24px;
}

#landing .background-image {
  position: absolute;
  top: 25vh;
  z-index: -1;
  height: 75vh;
  width: 100vw;
  background: url("../images/landing.jpg");
  background-size: cover;
  opacity: 0.9;
}
