.label {
  display: block;
}

#template-background {
  position: absolute;
  z-index: -1;
  top: 20vh;
  height: 80vh;
  width: 90vw;
  background: url("../images/todolist.jpg");
  background-size: cover;
}

#grid .modal-container {
  display: flex;
  justify-content: center;
}

#grid .modal-container > .btn {
  width: 100%;
  font-size: 18px;
}

#exercise-list {
  padding: 0 25px;
}

#exercise {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: white;
  padding: 10px;
  width: 100%;
}
