#todolist {
  height: 100vh;
  width: 100vw;
}

#todolist nav {
  height: 10vh;
}

#todolist .content {
  height: 90vh;
}

#todolist nav,
#todolist .content {
  margin: 0 7.5vw;
}

/* -------------------NAVBAR----------------------- */
#todolist nav .container {
  width: 100%;
  height: 10vh;
}

#todolist nav h2 {
  margin: 0;
}

#btn-nav {
  display: flex;
  justify-content: flex-start;
  background: white;
}

/* -------------------Content----------------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5vw;
}

#todolist .label {
  display: block;
}
#todolist .modal-container {
  display: flex;
  justify-content: center;
  margin: 0 0 5px 0;
}

#todolist .modal-container > .btn {
  width: 100%;
  font-size: 18px;
}

#todolist .background-image {
  position: absolute;
  z-index: -1;
  top: 10vh;
  left: 7.5vw;
  height: 100%;
  width: 85vw;
  background: url("../images/todolist.jpg");
  background-size: cover;
}

#todolist li {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  width: 100%;
}

#todolist ul {
  padding: 0;
}
